*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
/*classes auziliares*/

.container{
	max-width: 1280px;
	margin:0 auto;
	padding: 0 2%;
}

.clear{
	clear: both;
}

.w60{
	width: 60%;
	float: left;
}

.w50{
	width: 50%;
	float: left;
}

.w40{
	width: 40%;
	float: left;
}

.w33{
	width: 33.3%;
	float: left;
}


.center{
	text-align: center;
}



/*classes do meu site*/

/*header do meu site*/
header{
	padding: 8px 0;
}

.logo{
	float: left;
}

.logo h2{
	font-weight: normal;
	font-size: 23px;
}

.logo a{
	color: black;
	text-decoration: none;
}

/*menu para mobile*/

nav.menu-mobile{
	display: none;
	float: right;
}

nav.menu-mobile h2{
	cursor: pointer;
}

nav.menu-mobile ul{
	display: none;
	width: 100%;
	background-color: white;
	position: absolute;
	left: 0;
	top: 48px;
	z-index: 999;
	text-align: center;
}

nav.menu-mobile li{
	padding: 8px 0;
	border-bottom: 2px solid black;
}

nav.menu-mobile li:nth-of-type(1){
	border-top: 2px solid black;
}

nav.menu-mobile a{
	display: block;
	color: black;
	text-decoration: none;
}

nav.menu-mobile li.selected{
	background-color: rgb(225,225,225);
}

/*menu para desktop*/


nav.menu-desktop{
	float: right;
}

nav.menu-desktop ul{
	position: relative;
	top:8px;
}


nav.menu-desktop li.selected{
	font-weight: normal;
	text-decoration: underline;
}

nav.menu-desktop li{
	display: inline-block;
	padding: 0 20px;
	font-weight: lighter;
}
nav.menu-desktop a{
	color: black;
	text-decoration: none;
}

nav.menu-desktop a:hover{
	text-decoration: underline;
}

/*sessão main do meu site*/

section.main-bg{
	position: relative;
	width: 100%;
	padding:50px 0 50px;
	/*
	background-image: url('../images/image3.jpg') ;
	se eu declaro fora é mais facil de trocar
	*/
	background-size: cover;
	background-position: center;
	text-align: center;
}

section.main-bg > .container{
	position: relative;
	z-index: 2;

}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
}

section.main-bg h2{
	color: #f8671a;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 50px;
}

section.main-bg p{
	text-align:justify;
	color: white;
	margin-top: 15px;
}

.main-sobre button[type=button]{
	width: 120px;
	height: 40px;
	background-color: #a13e03;
	cursor: pointer;
	display: inline-block;
	border: 0;
	color: white;
	font-weight: bold;
	margin-top: 40px;
}

/*sessão diferenciais do meu site*/

section.diferenciais{
	text-align: center;
	padding: 30px 0;
}

.line-text{
	position: relative;
	display: inline-block;
	color: #f8671a;
	text-align: justify;
}

.line-text > div{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 3px;
	background-color: #f8671a;
}

.line-text h2{
	font-weight: normal;
	font-size: 27px;
}

.icones-diferenciais{
	margin-top: 35px;
}

.box-icone-single{
	float: left;
	width: 33.3%;
	padding: 0 10px;
	margin-bottom: 20px;
}

.box-icone-single h2{
	color: #d1ccc9;
	font-size: 40px;
}

.box-icone-single p{
	color: black;
	font-weight: lighter;
	font-size: 16px;
}

/*sessao sobre equipe*/

section.sobre-equipe{
	padding: 30px 0;
	background-color: rgb(225,225,225);
}

section.sobre-equipe > .container{
	display: flex;
	flex-wrap: wrap;
}

.equipe-container{
	width: 50%;
}

.sobre-container{
	width: 50%;
}

.sobre-container p{
	color: black;
	font-size: 15px;
	margin-top: 10px;
}

.img-avatar{
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-size: 100% 100%;
	background-color: gray;
}

.descricao-avatar{
	display: inline-block;
	width: calc(100% - 110px); /*ajustar ate ficar certo*/
	/* tem w usar o macete pra nao criar espacamento extra*/
	padding: 0 10px;
}

.descricao-avatar h3{
	color: rgb(30,30,30);
	font-weight: normal;
	font-style: italic;
}

.descricao-avatar p{
	color: rgb(30,30,30);
	font-weight: lighter;
}
.avatar-box{
	margin-top: 15px;
}

/*sessao inscricao*/

section.inscricao{
	background-color: #f8671a;
	padding: 20px 0;
}

.inscricao-form input[type=email]{
	width: calc(100% - 120px);
	height: 40px;
	background-color: white;
	border: 1px solid #ccc;
	display: inline-block;
	padding-left: 5px;
}

.inscricao-form input[type=submit]{
	width: 120px;
	height: 40px;
	background-color: #a13e03;
	cursor: pointer;
	display: inline-block;
	border: 0;
	color: white;
	font-weight: bold;
}

h2.inscricao-texto{
	font-weight: normal;
	color: white;
}

/*sessao cards*/

section.cards{
	padding:30px 0;
}

.card-single{
	width: 33.3%;
	float: left;
	padding: 30px;

}

.card-single img{
	width: 100%;
	height: 300px;
}

.card-single h3{
	font-weight: normal;
	font-size: 19px;
	margin-top: 5px;
}

.card-single p{
	margin:10px 0;
	font-weight: lighter;
	font-size: 16px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 20px;
}

/*sessao footer1*/

footer.footer1{
	background-color:  #f8671a;
	padding: 20px 0;
	color: white;

}

footer.footer1. h2{
	font-size: 23px;
	font-weight: normal;
}

footer.footer1. p{
	margin-top: 10px;
	font-weight: lighter;
}

footer.footer1 a{
	text-align: center;
	display: block;
	color: white;
}

div.group-icons a{
	margin:0 10px;
	display: inline-block;
	font-size: 30px;
}

.group-icons{
	text-align: center;

}

.wpp-mobile{
	display: none;
}

/*sessao footer2*/

footer.footer2{
	padding: 15px 0;
	background-color: #a13e03;
	text-align: center;
	color: white;
}


/*PAGINA SOBRE.HTML*/

section.title-page{
	padding: 30px;
	width: 100%;
	min-height: 170px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

section.title-page > .container{
	position: relative;
	z-index: 101;
}

section.title-page h2{
	color: #f8671a;
	font-size: 35px;
	font-weight: normal;
}

section.title-page p{
	font-weight: lighter;
	font-size: 16px;
	color: white;
	margin-top: 15px;
	text-align: left;
}

.overlay__title-page{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
	z-index: 100;
}

/*sobre title-page*/

section.sobre__noticia{
	padding: 30px 0;
}

.sobre__noticia__single img{
	max-width: 100%;
	float: left;
	width: 40%;
}

.sobre__noticia__single p{
	padding: 10px 15px;
	float: left;
	width: 60%;
	text-align: justify;
}

.paragrafo__noticia__single{
	margin-top: 15px;
}

.paragrafo__noticia__single p{
	margin-top: 8px;
}


/*sessao parallax na pagina sobre*/

section.parallax{
	padding: 30px 0;
	width: 100%;
	min-height: 200px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
}

section.parallax h2.chamada-parallax{
	border: 2px solid #f8671a;
	padding:5px 25px;
	color: #f8671a;
	font-size: 24px;
	display: inline-block;
}
section.parallax p{
	margin-top: 10px;
	color:white;
}

section.parallax >.container{
	position: relative;
	z-index: 101;
}
.overlay-parallax{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
	z-index: 100;
}

/*sessao equipe*/

section.equipe{
	padding: 40px 0;

}

.equipe-circle{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}

.equipe-circle-single{
	padding: 0 20px;
	text-align: center;
	width: 33.3%;
}

.equipe-circle-single h3{
	margin-top: 8px;
	font-weight: normal;
	font-size: 20px;
}

.equipe-circle-single p{
	font-weight: lighter;
}
.avatar-single{
	position: relative;
	width: 60%;
	padding-top: 60%;
	margin: 0 auto;
}

.avatar-single-container{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top: 0;
	border-radius: 50%;
	background-color: #ccc;
	background-size: 100% 100%;
}

/*sessao sobre__final*/

section.sobre__final{
	background-color: rgb(235,235,235);
	border-top: 2px solid rgb(210,210,210);
	padding: 20px 0;
}

section.sobre__final p{
	margin-top: 10px;
	font-size: 16px;
	font-weight: lighter;
	text-align: justify;
}

.card-text{
	margin-top: 10px;
	position: relative;
	width: 70%;  /*dimensiona a imagem*/
}

.card-text img{
	max-width: 100%;
}

.card-text h3{
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: white;
	font-size: 20px;
	font-weight: normal;
}

/*sessao contato*/

section.contato{
	min-height: 400px;
	padding: 30px 0;
}

section.contato .w50 ,
section.contato .w100{
	padding:0 10px;
}

.formulario form{
	margin-top: 10px;
}

.formulario h2{
	margin: 0 10px;
	background: #DDDDDD;
	text-align: center;
	color: #ACAC9D;
	font-size: 17px;
	font-weight: normal;
	border-left: 5px solid #CCCCCC;
	padding: 10px 0;
}

.formulario input[type=text],
.formulario input[type=email]
{
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding-left: 8px;
}

.formulario textarea{
	width: 100%;
	height: 100px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
	resize: vertical;
}

.formulario input[type=submit]{
	width: 120px;
	height: 40px;
	background-color: #a13e03;
	cursor: pointer;
	display: inline-block;
	border: 0;
	color: white;
	font-weight: bold;
	padding: 0 10px;
}

.tags-form{
	padding-left: 50px;
}

.tags-form h2{
	font-weight: normal;
}

.tags-form p{
	font-weight: lighter;
}

.tag-contato a{
	width: 100%;
	height: 40px;
	background-color:#f8671a;
	cursor: pointer;
	display: inline-block;
	border: 0;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	padding: 10px;

}
	
.form-group span{
	display: inline-block;
	color: red;
	padding: 2px 0;
	font-size: 15px;
}


.box-sucesso{
	display: none;
	margin: 10px 10px;
	background: #55e84a;
	text-align: center;
	color: white;
	font-size: 17px;
	font-weight: normal;
	padding: 10px 0;

}
/*ajustes para design responsive de todo o site*/

@media screen and (max-width: 768px){

	section.main-bg h2{
		margin-bottom: 20px;
	}

	section.main-bg{
	padding:20px 0 20px;
	}

	section.contato{
		min-height: 0px;
	}

	.tags-form{
	padding-left: 0px;
	}

	.formulario input[type=text],
	.formulario input[type=email]
	{
		margin-bottom: 0px;
	}

	.formulario textarea{
		margin-top: 0;
		margin-bottom: 0;
	}

	footer.footer1{
		text-align: center;
	}

	.card-single{
		width: 100%;
	}

	.w100,.w60,.w50,.w40,.w33{
		width: 100%;
		margin-bottom: 20px;
	}
	.box-icone-single{
		width: 100%;
	}

	.equipe-container{
	width: 100%;
	}

	.sobre-container{
		width: 100%;
		margin-top: 60px;
	}

	.sobre__noticia__single img{
		width: 100%;
	}

	.sobre__noticia__single p{
		width: 100%;
		padding: 0;
		margin-top: 8px;
	}

	nav.menu-desktop{
		display: none;
	}
	nav.menu-mobile{
		display: block;
	}

	.wpp-mobile{
		display: block;
	}

	.wpp-desktop{
		display: none;
	}

}

@media screen and (max-width: 500px){

	.card-text{
	width: 100%;  /*dimensiona a imagem*/
	}

	.equipe-circle-single{
	padding: 0 10px;
	width: 100%;
	margin-bottom: 30px;
	}

	.card-single{
		padding:10px;
	}

}
